<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thecodingshef.dietforu">

    <uses-permission android:name="android.permission.INTERNET"></uses-permission>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"></uses-permission>


    <application
        android:allowBackup="true"
        android:icon="@mipmap/dietlogo_round"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/dietlogo_round"
        android:supportsRtl="true"
        android:hardwareAccelerated="true"
        android:theme="@style/AppTheme">

        <meta-data
            android:name="com.google.android.gms.ads.AD_MANAGER_APP"
            android:value="true"/>


        <activity android:name=".WelcomeActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".bodyfact.Main2Activity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".BMIActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".ContactActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".weightLoss.WeightLossActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".weightGain.WeightGainActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".balancedDiet.WeeklyActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".DietForDisease.DiseaseActivity"
            android:parentActivityName=".MainActivity"/>
        <activity android:name=".SplashScreen" />


        <activity android:name=".MainActivity"></activity>
    </application>

</manifest>